Repository midil-labs/midil-kit, changes with the labels that .github/labeler.yml gives for each.
All labels: framework, tests, infra

.github/labeler.yml:

framework:
  - any: ['midil/**']

tests:
  - any: ['**/tests/**']

infra:
  - any: ['.github/**']

Bump to major release
  CHANGELOG.md
  pyproject.toml
Labels: none

Add missing authorization header check in auth middleware
  .gitignore
  midil/extensions/fastapi/middleware/auth_middleware.py
Labels: framework

Update changelog for version 2.0.1 and bump version in pyproject.toml to reflect bug fix for missing authorization header in auth middleware.
  CHANGELOG.md
  pyproject.toml
Labels: none

Update jsonapi schema
  midil/event/schedulers/repeat.py
  midil/http/overrides/async_client.py
  midil/jsonapi/__init__.py
  midil/jsonapi/_mixins/__init__.py
  midil/jsonapi/config.py
  midil/jsonapi/document.py
  poetry.lock
  pyproject.toml
  tests/jsonapi/test_document.py
Labels: framework, tests

Add improvements
  midil/jsonapi/_mixins/__init__.py
  midil/jsonapi/_mixins/validators.py
  midil/jsonapi/document.py
  tests/jsonapi/_mixins/test_validators.py
Labels: framework, tests

Add changelog and package version
  CHANGELOG.md
  pyproject.toml
Labels: none

Update release dates in changelog
  CHANGELOG.md
Labels: none

Updated code
  CHANGELOG.md
  midil/extensions/fastapi/dependencies/jsonapi.py
  midil/extensions/fastapi/middleware/auth_middleware.py
  midil/jsonapi/__init__.py
  midil/jsonapi/document.py
  midil/jsonapi/query.py
  tests/extensions/fastapi/middleware/test_auth_middleware.py
  tests/jsonapi/test_document.py
  tests/jsonapi/test_query.py
Labels: framework, tests

Removed default pagination object
  midil/jsonapi/query.py
Labels: framework

Fix lint
  tests/jsonapi/test_document.py
Labels: tests

Add docstrings to package methods and classes
  midil/event/dispatchers/abstract.py
  midil/extensions/fastapi/dependencies/jsonapi.py
  midil/extensions/fastapi/middleware/auth_middleware.py
  midil/jsonapi/document.py
Labels: framework

Update READEME.md
  README.md
Labels: none

Update label-pr.yml
  .github/workflows/label-pr.yml
Labels: infra

Update label-pr.yml
  .github/workflows/label-pr.yml
Labels: infra

Update label-pr.yml
  .github/workflows/label-pr.yml
Labels: infra

Fix Package Version
  pyproject.toml
Labels: none

Update label-pr.yml
  .github/workflows/label-pr.yml
Labels: infra

Update label-pr.yml
  .github/workflows/label-pr.yml
Labels: infra

Update label-pr.yml
  .github/workflows/label-pr.yml
Labels: infra

Update label-pr.yml
  .github/workflows/label-pr.yml
Labels: infra

Update label-pr.yml
  .github/workflows/label-pr.yml
Labels: infra

[fix] invalid header padding when auth token is passed with
  midil/extensions/fastapi/middleware/auth_middleware.py
Labels: framework

Update label-pr.yml
  .github/workflows/label-pr.yml
Labels: infra

Update label-pr.yml
  .github/workflows/label-pr.yml
Labels: infra

Update label-pr.yml
  .github/workflows/label-pr.yml
Labels: infra

Update label-pr.yml
  .github/workflows/label-pr.yml
Labels: infra

[fix] correct parameter name in async HTTP transport initialization
  midil/http/overrides/async_client.py
  poetry.lock
Labels: framework

remove extra project slug folder from sub directories
  midil/cli/commands/init.py
  midil/cli/commands/launch.py
  midil/cli/commands/test.py
  midil/cli/core/scaffolds/factory.py
  midil/cli/core/scaffolds/fastapi.py
  midil/cli/core/scaffolds/lambda_function.py
  midil/cli/core/scaffolds/project.py
  midil/cli/core/templates/cookiecutter-midil-project/hooks/post_gen_project.py
  midil/cli/core/templates/cookiecutter-midil-project/{{cookiecutter.project_slug}}/.gitignore
  midil/cli/main.py
  midil/http/overrides/async_client.py
  tests/jsonapi/test_document.py
Labels: framework, tests

Revert changes made to poetry.lock file
  poetry.lock
Labels: none

Fixed Failing tests
  tests/extensions/fastapi/middleware/test_auth_middleware.py
Labels: tests

[CI] Add run-tests workflow to execute pytest via Makefile on PRs and pushes
  .github/workflows/run-tests.yml
Labels: infra

Remove unused validator
  midil/config/settings.py
  midil/extensions/fastapi/middleware/auth_middleware.py
  midil/jsonapi/document.py
  tests/extensions/fastapi/middleware/test_auth_middleware.py
  tests/jsonapi/_mixins/test_validators.py
Labels: framework, tests

expose a configuration setting for exponential backoff
  midil/http/overrides/retry/backoffs.py
Labels: framework

Update changelog
  CHANGELOG.md
Labels: none

Continue support for python 3.12
  poetry.lock
  pyproject.toml
Labels: none

Rename modules
  README.md
  midil/event/classic/__init__.py
  midil/event/classic/backoff.py
  midil/event/classic/dispatcher.py
  midil/event/classic/processor.py
  midil/event/classic/queues.py
  midil/event/classic/retry.py
  midil/event/classic/types.py
  midil/event/consumer/__init__.py
  midil/event/consumer/config.py
  midil/event/consumer/core/dispatcher.py
  midil/event/consumer/core/exceptions.py
  midil/event/consumer/core/graph.py
  midil/event/consumer/core/router.py
  midil/event/consumer/core/state_store.py
  midil/event/consumer/core/types.py
  midil/event/consumer/examples/api_example.py
  midil/event/consumer/examples/simple_example.py
  midil/event/consumer/examples/simple_example2.py
  midil/event/consumer/factory.py
  midil/event/consumer/queues/__init__.py
  midil/event/consumer/queues/base.py
  midil/event/consumer/queues/sqs.py
  midil/event/consumer/strategies/__init__.py
  midil/event/consumer/strategies/base.py
  midil/event/consumer/strategies/polling.py
  midil/event/scheduler/__init__.py
  midil/event/scheduler/aws_event_bridge.py
  midil/event/scheduler/repeat.py
  midil/utils/backoff.py
  midil/utils/retry.py
Labels: framework

Remodeling event module
  midil/config/settings.py
  midil/event/consumer/base.py
  midil/event/consumer/exceptions.py
  midil/event/consumer/sqs.py
  midil/event/consumer_legacy/__init__.py
  midil/event/consumer_legacy/config.py
  midil/event/consumer_legacy/core/dispatcher.py
  midil/event/consumer_legacy/core/exceptions.py
  midil/event/consumer_legacy/core/graph.py
  midil/event/consumer_legacy/core/router.py
  midil/event/consumer_legacy/core/state_store.py
  midil/event/consumer_legacy/core/types.py
  midil/event/consumer_legacy/examples/api_example.py
  midil/event/consumer_legacy/examples/simple_example.py
  midil/event/consumer_legacy/examples/simple_example2.py
  midil/event/consumer_legacy/factory.py
  midil/event/consumer_legacy/queues/__init__.py
  midil/event/consumer_legacy/queues/base.py
  midil/event/consumer_legacy/queues/sqs.py
  midil/event/consumer_legacy/strategies/__init__.py
  midil/event/consumer_legacy/strategies/base.py
  midil/event/consumer_legacy/strategies/polling.py
  midil/event/dispatcher/__init__.py
  midil/event/dispatcher/dispatcher.py
  midil/event/dispatcher/exceptions.py
  midil/event/dispatcher/graph.py
  midil/event/dispatcher/router.py
  midil/event/dispatcher/state_store.py
  midil/event/dispatcher/types.py
  midil/event/producer/base.py
  midil/event/producer/sqs.py
  midil/event/retry.py
  midil/jsonapi/config.py
  midil/utils/time.py
  poetry.lock
  pyproject.toml
Labels: framework

Improved ENV interface
  midil/event/_examples/event_bus.py
  midil/event/_examples/standalone_consumer.py
  midil/event/consumer/sqs.py
  midil/event/consumer/strategies/base.py
  midil/event/consumer/strategies/pull.py
  midil/event/consumer/websocket.py
  midil/event/event_bus.py
  midil/event/exceptions.py
  midil/event/producer/base.py
  midil/event/producer/sqs.py
  midil/event/retry.py
Labels: framework

Resolve ENVs for Producers
  midil/event/_examples/standalone_producer.py
  midil/event/consumer/sqs.py
  midil/event/producer/base.py
  midil/event/producer/redis.py
  midil/event/producer/sqs.py
  midil/event/utils.py
Labels: framework

FastAPI needs to know about all routes at startup time to include them in the OpenAPI schema that powers the Swagger UI
  midil/event/_examples/webhook_producer.py
  midil/event/consumer/webhook.py
Labels: framework
