Repository midil-labs/midil-kit, changes with the labels that .github/labeler.yml gives for each.
All labels: framework, tests, infra

Move retry to utils
  midil/event/_examples/event_bus.py
  midil/event/_examples/standalone_consumer.py
  midil/event/consumer/sqs.py
  midil/event/retry.py
  midil/event/subscriber/middlewares.py
  midil/http/client.py
  midil/http/overrides/async_client.py
  midil/http/overrides/async_http.py
  midil/http/overrides/retry/transport.py
  midil/utils/retry.py
  poetry.lock
  pyproject.toml
Labels: framework

Avoid replay by ensuring one _subscribers set per instance
  midil/event/__init__.py
  midil/event/_examples/standalone_consumer.py
  midil/event/_examples/standalone_producer.py
  midil/event/consumer/sqs.py
  midil/event/consumer/strategies/base.py
  midil/event/consumer/strategies/pull.py
  midil/event/consumer/strategies/push.py
  midil/event/consumer/webhook.py
  midil/event/consumer/websocket.py
  midil/event/event_bus.py
  midil/event/producer/base.py
  midil/event/retry.py
  midil/event/subscriber/base.py
Labels: framework

Streamline settingsc
  .env.example
  midil/auth/cognito/jwt_authorizer.py
  midil/auth/config.py
  midil/config/settings.py
  midil/event/__init__.py
  midil/event/config.py
  midil/event/consumer/sqs.py
  midil/event/consumer/strategies/base.py
  midil/event/consumer/strategies/pull.py
  midil/event/consumer/strategies/push.py
  midil/event/consumer/webhook.py
  midil/event/consumer/websocket.py
  midil/event/event_bus.py
  midil/event/producer/base.py
  midil/event/producer/redis.py
  midil/event/producer/sqs.py
  midil/midilapi/config.py
  midil/settings.py
  tests/event/dispatchers/test_abstract.py
  tests/event/dispatchers/test_polling.py
Labels: framework, tests

Fix settings for Dependencies
  midil/auth/config.py
  midil/event/_examples/event_bus.py
  midil/event/_examples/standalone_consumer.py
  midil/event/_examples/standalone_producer.py
  midil/event/_examples/webhook_producer.py
  midil/event/config.py
  midil/midilapi/dependencies/auth.py
  midil/midilapi/middleware/auth_middleware.py
  midil/settings.py
Labels: framework

Fix test
  midil/event/consumer/strategies/base.py
  midil/http/client.py
  tests/http/test_client.py
  tests/midilapi/middleware/test_auth_middleware.py
Labels: framework, tests

Fix test
  midil/event/_examples/standalone_producer.py
  midil/event/consumer/strategies/base.py
  midil/event/consumer/webhook.py
  midil/event/event_bus.py
  midil/event/producer/base.py
  midil/event/producer/redis.py
  midil/event/producer/sqs.py
  midil/event/subscriber/base.py
  midil/http/client.py
  midil/http/overrides/async_http.py
  poetry.lock
  pyproject.toml
  tests/http/test_client.py
Labels: framework, tests

Bump version
  CHANGELOG.md
  midil/event/consumer/sqs.py
  midil/event/event_bus.py
  midil/event/producer/sqs.py
  midil/event/subscriber/base.py
  midil/event/subscriber/middlewares.py
  midil/event/utils.py
  pyproject.toml
Labels: framework

Bump version
  CHANGELOG.md
Labels: none

Update changelog
  CHANGELOG.md
Labels: none

Support Multi Consumer and Producer In EventBus
  .env.example
  midil/event/_examples/event_bus.py
  midil/event/_examples/standalone_consumer.py
  midil/event/_examples/standalone_producer.py
  midil/event/config.py
  midil/event/event_bus.py
  midil/event/exceptions.py
  midil/midilapi/config.py
  midil/settings.py
  tests/event/test_named_consumers.py
  tests/midilapi/middleware/test_auth_middleware.py
Labels: framework, tests

Bump package version
  CHANGELOG.md
  pyproject.toml
Labels: none

Improve retry mechanism
  midil/event/_examples/event_bus.py
  midil/event/_examples/event_context.py
  midil/event/_examples/standalone_consumer.py
  midil/event/consumer/sqs.py
  midil/event/consumer/strategies/base.py
  midil/event/context.py
  midil/event/event_bus.py
  midil/event/subscriber/middlewares.py
  midil/utils/retry.py
  tests/event/test_named_consumers.py
Labels: framework, tests

Introduce RetryableEventError and NonRetryableEventError
  midil/event/__init__.py
  midil/event/consumer/strategies/base.py
  midil/event/exceptions.py
Labels: framework

Remove context from retry
  midil/event/context.py
  midil/utils/retry.py
Labels: framework

Fix test
  tests/event/test_context.py
Labels: tests

Fix test
  tests/event/test_context.py
Labels: tests

Lint Tests
  tests/event/test_context.py
Labels: tests

Move consumer processing to background
  .gitignore
  .vscode/launch.json
  midil/event/_examples/event_bus.py
  midil/event/_examples/standalone_producer.py
  midil/event/config.py
  midil/event/consumer/sqs.py
  midil/event/consumer/strategies/base.py
Labels: framework

[Core] Support Multi Consumer and Producer Configuration In EventBus (#12)
  .env.example
  .gitignore
  .vscode/launch.json
  CHANGELOG.md
  midil/event/__init__.py
  midil/event/_examples/event_bus.py
  midil/event/_examples/event_context.py
  midil/event/_examples/standalone_consumer.py
  midil/event/_examples/standalone_producer.py
  midil/event/config.py
  midil/event/consumer/sqs.py
  midil/event/consumer/strategies/base.py
  midil/event/context.py
  midil/event/event_bus.py
  midil/event/exceptions.py
  midil/event/subscriber/middlewares.py
  midil/midilapi/config.py
  midil/settings.py
  midil/utils/retry.py
  pyproject.toml
  tests/event/test_context.py
  tests/event/test_named_consumers.py
  tests/midilapi/middleware/test_auth_middleware.py
Labels: framework, tests

make logger settings optional
  midil/settings.py
Labels: framework

Fix failing tests
  README.md
  midil/__init__.py
  midil/auth/cognito/client_credentials_flow.py
  midil/event/_examples/event_bus.py
  midil/http/__init__.py
  midil/http_client/__init__.py
  midil/http_client/client.py
  midil/http_client/overrides/async_client.py
  midil/http_client/overrides/async_http.py
  midil/http_client/overrides/retry/backoffs.py
  midil/http_client/overrides/retry/protocols.py
  midil/http_client/overrides/retry/strategies.py
  midil/http_client/overrides/retry/transport.py
  midil/logger/config.py
  midil/logger/factory.py
  midil/settings.py
  tests/http/__init__.py
  tests/http_client/__init__.py
  tests/http_client/test_client.py
Labels: framework, tests

Pass settings
  midil/settings.py
Labels: framework

remove unused code
  midil/cli/core/templates/cookiecutter-midil-project/hooks/post_gen_project.py
Labels: framework

Lazily import settings module in event_bus to avoid circular import
  CHANGELOG.md
  midil/event/__init__.py
  midil/event/event_bus.py
  pyproject.toml
Labels: framework

Fix logging configuration
  CHANGELOG.md
  midil/__init__.py
  midil/logger/setup.py
  pyproject.toml
Labels: framework

Bump version in changelog
  CHANGELOG.md
Labels: none

Allow passing host to midil launch
  CHANGELOG.md
  midil/cli/commands/launch.py
  midil/cli/core/launchers/uvicorn.py
  midil/settings.py
  pyproject.toml
Labels: framework

documentation for midil kit
  docs/.gitignore
  docs/DOCUMENTATION_SUMMARY.md
  docs/README.md
  docs/docs/auth/overview.md
  docs/docs/getting-started.md
  docs/docs/introduction.md
  docs/docs/modules/.jsonapi-continuation.md.bak
  docs/docs/modules/auth.md
  docs/docs/modules/event.md
  docs/docs/modules/extensions.md
  docs/docs/modules/http.md
  docs/docusaurus.config.js
  docs/package.json
  docs/sidebars.js
  docs/src/css/custom.css
  docs/static/img/docusaurus-social-card.jpg
  docs/static/img/favicon.ico
  docs/static/img/logo.svg
  docs/tsconfig.json
Labels: none

Added documentation structure of commands and core modules
  docs/docs/docs/cli/commands/init.md
  docs/docs/docs/cli/commands/launch.md
  docs/docs/docs/cli/commands/test.md
  docs/docs/docs/cli/commands/version.md
  docs/docs/docs/cli/core/launchers/launchers.md
  docs/docs/docs/cli/core/scaffolds/scaffolds.md
  docs/docs/docs/cli/core/templates/templates.md
  docs/docs/docs/cli/core/testing/testing.md
  docs/docs/docs/cli/utils.md
Labels: none

documentation on midil auth
  docs/docs/auth/cognito.md
  docs/docs/auth/config.md
  docs/docs/auth/exceptions.md
  docs/docs/auth/index.md
  docs/docs/auth/interfaces.md
Labels: none

docs(auth): add authentication documentation
  docs/auth/cognito.md
  docs/auth/config.md
  docs/auth/exceptions.md
  docs/auth/index.md
  docs/auth/interfaces.md
Labels: none

.github/labeler.yml:

framework:
  - any: ['midil/**']

tests:
  - any: ['**/tests/**']

infra:
  - any: ['.github/**']
